.head{
    margin: 30px 50px 50px 50px;
    display: flex;
    justify-content: space-between;
}
.nav{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.nav2 {
    margin: 0;
    padding: 0;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.head-link{
    color: rgb(131, 105, 0);
    text-decoration: none;
    font-weight: 700;
}
.head-link-a{
    color: rgb(231, 142, 0);
    text-decoration: none;
    font-weight: 700;
}


.user-info{
    display: flex;
}
.logout-btn{
    background: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 10px;
}
.logout-btn:hover{
    background-color: rgb(255, 160, 160);
}

.user-name{
    font-weight: 700;
    color: rgb(187, 116, 0);
    margin-right: 40px;
}
.user-ava{
    width: 40px;
    margin-top: -12px;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

.welcome{
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-block{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.con-text{
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.auth-btn{
    background: rgb(255, 237, 167);
    border: 2px solid black;
    border-radius: 20px;
}